/* ~~~~~~~~~~~~~~~ */
/* ~ credits.css ~ */
/* ~~~~~~~~~~~~~~~ */

html {
  scrollbar-color: #333 #000;
  min-width: 800px;
}
a {
  text-decoration: none;
  transition: 0.5s;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 800px;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/background-1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(2.2);
  z-index: -1;
}
#rkct-menu { 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 195px;
  height: 43px;
  background: url('../images/rkct.png');
  background-size: cover; 
  filter: invert(1);
  z-index: 20;
}
#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 93px;
}
#menu-container > * {
  pointer-events: auto;
}
#menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
#title {
  position: static;
  font-size: 96px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.unselect {
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}
#credits-blue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0064bd4f;
  z-index: -1;
}
#thanks {
  position: static;
  width: 500px;
  height: auto;
  color: #fff;
  font-size: 24px;
  padding-bottom: 200px;
  text-align: center;
}
.hl {
  background: rgba(0, 147, 255, 0.4);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}
.menu-txt {
  background-color: #fff3;
  color: #fff;
  font-size: 24px;
  padding: 12px 16px;
  font-weight: 300;
  line-height: 1.25;
  border-radius: 26px;
  transition: 0.5s;
  width: 100px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.menu-txt:hover {
  background: rgba(0, 147, 255, 0.4);
}
.txt {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: #fff3;
  color: #fff;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  transition: 0.5s;
}
.txt:hover {
  background-color: rgba(0, 147, 255, 0.4);
}

