/* ~~~~~~~~~~~~~~~~~~~~ */
/* ~ instructions.css ~ */
/* ~~~~~~~~~~~~~~~~~~~~ */

html {
  scrollbar-color: #333 #000;
  min-width: 800px;
}
a {
  text-decoration: none;
  transition: 0.5s;
}
body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 800px;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/background-1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(15px);
  transform: scale(2.2);
  z-index: -1;
}
#rkct-menu { 
  position: fixed;
  top: 20px;
  left: 20px;
  width: 195px;
  height: 43px;
  background: url('../images/rkct.png');
  background-size: cover; 
  filter: invert(1);
  z-index: 20;
}
#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 93px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
#menu-container > * {
  pointer-events: auto;
}
#menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;
  height: auto;
  z-index: 1000;
}
#title {
  font-size: 96px;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  color: #fff;
}
.unselect {
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}
#blue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0064bd4f;
  z-index: -1;
}
#content-1 {
  width: 550px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 36px;
}
#content-2 {
  width: 600px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 36px;
}
#instructions {
  width: 550px;
  height: 300px;
  background-color: #000;
  background-image: url('../images/in00.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 2px #fff solid;
  transition: 0.5s;
}
#in-dots {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 550px;
  gap: 1px;
}
.in {
  width: 25px;
  height: 4px;
  background: #fff3;
  cursor: pointer;
  transition: 0.3s;
}
.in:hover {
  background: #fff;
}
.menu-txt {
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  margin-left: 20px;
  text-shadow: 0px 0px 10px #000;
}
.menu-txt:hover {
  text-shadow: 0px 0px 20px #fff;
}
#scrollAnimation {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  opacity: 0.7;
}
#scrollAnimation::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: scrollDown 2s infinite;
}
@keyframes scrollDown {
  0% { top: 8px; opacity: 1; }
  100% { top: 35px; opacity: 0; }
}

.centered-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-border {
  border: 2px #fff solid;
}
